.button-clear-container {
    height: 70px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    color: #dbdbdb;
    background-color: #00471b;
    border-radius: 20px;
    border: 2px solid white;
    margin: 3px;
    cursor: pointer;
    user-select: none;
}

.button-clear-container:hover {
    background-color: #9c6939;
    transform: scale(1.1);
    transition: all ease;
}
